<div class="row">
  <div class="col-lg-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-9">
      <ng-template [ngIf]="!loading">
        <div class="d-flex">
          <a class="product-item mx-2 my-2" *ngFor="let pr of products" [routerLink]="['/product', pr.id, Helper.slugify(pr.name || '')]">
            <div class="img-container">
              <img src="{{ pr?.photoUrl }}" alt="{{ pr?.name }}" onerror="this.src='https://placehold.co/200x200?text=No Image'" class="product-thumb w-100 rounded-3">
            </div>
            <h3 class="py-2">{{ pr.name }}</h3>
          </a>
        </div>
      </ng-template>
  </div>
</div>
